body
	{
		background-color: lightpink;
	}

a:link, a:visited
	{
		background-color: red;
		color:white;
		text-decoration: none;
		padding: 16px;
		text-align: center;
		display: inline-block;
		font-family: verdana;
	}


a:hover
	{
		color:red;
		background-color: white;
		text-decoration: underline;
	}

a:active
	{
		color: green;
		background-color: yellow;
		text-decoration: underline;
	}
